<% content_for(:title) { "Login" } %>


<div class='login-box'>
  <%= form_tag sessions_path, role: 'form', class: 'form-signin' do %>
    <div class='div-row'>
      <%= link_to "Sign in with Facebook ", "/auth/facebook", id: 'fb_login', class: 'btn btn-lg btn-primary btn-block' %>
    </div >  
    <br />

    <div class='div-row'>
      <%= email_field_tag :email, params[:email], class: 'form-control round', placeholder: 'Email address' %>
      <%= password_field_tag :password, '', class: 'form-control round', placeholder: 'Password' %>
    </div>
    <div class='div-row' style='text-align:right  ;'>
      <%= button_tag "Login", class: 'btn round' %>
    </div>
    
  <% end %>

</div>
